.store{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.store__title{
  width: 100%;
  max-width: 500px;
}
.mac,.vision,.watch,.iphone,.ipad{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 40px;
}
.iphone,.watch,.vision{
  background-color: #000;
  color: white;
}